<script>
    $(document).ready($('input').each(function (index, element) {
        $(element).prop('autocomplete', 'off');
        $(element).attr('autocomplete', 'off');
    }));

    var layerResize = $(".layui-layer-page .layui-layer-resize");
    layerResize.hide();

    var layerClose = $(".layui-layer-page .layui-layer-close");
    layerClose.hide();

    $(document).keydown(function (event) {
        if (event.key === 'Enter') {
            var element = $(document.activeElement);
            var conditions = [
                element.is('button'),
                element.is('a'),
                element.is('input') && !element.is('input[type=area]')
            ];
            $.each(conditions, function (index, c) {
                if (c) {
                    element.blur();
                }
            });
        }
    });
    $(document).ready(function (e) {
        var counter = 0;
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                $('.layui-layer').remove();
                $('.layui-layer-move').remove();
                $('.layui-layer-shade').remove();
            });
        }
    });

    window.form.render();
</script>