<div class="layui-form-item">
    <label class="layui-form-label">{:lang('联系邮箱')}</label>
    <div class="layui-input-block">
        <input class="layui-input" name="mail" value="{$data.mail|default=''}" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" title="{:lang('请输入')}{:lang('联系邮箱')}" placeholder="{:lang('请输入')}{:lang('联系邮箱')}">
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">{:lang('用户描述')}</label>
    <div class="layui-input-block">
        <textarea class="layui-textarea" name="desc" placeholder="{:lang('请输入')}{:lang('用户描述')}" title="{:lang('请输入')}{:lang('用户描述')}">{$data.desc|default=''}</textarea>
    </div>
</div>