<div class="layui-form-item">
    <label class="layui-form-label">{:lang('新的密码')}</label>
    <div class="layui-input-block">
        <input class="layui-input" type="password" name="password" value="" pattern="^[A-Za-z0-9]{6,12}$" title="请输入6-12位数字或字母" placeholder="{:lang('请输入')}{:lang('新的密码')}" required>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">{:lang('重复密码')}</label>
    <div class="layui-input-block">
        <input class="layui-input" type="password" name="repassword" value="" pattern="^[A-Za-z0-9]{6,12}$" title="请输入6-12位数字或字母" placeholder="{:lang('请重复输入密码')}" required>
    </div>
</div>