{extend name='extra@admin/form'}

{block name="style"}
<style>
    .layui-layer.layui-layer-page {
        width: 400px !important;
    }
</style>
{/block}

{block name="items"}
<div class="qrcode">
    <img src="{$img_src}" alt="qrcode" style="width: 220px; height: 220px;"/>
</div>
<p class="help-block">请将此二维码发送给管理员({$name|default=''})绑定微信号</p>
{/block}

{block name="buttons"}
<div class="layui-form-item text-center">
    <button class="layui-btn" type="button" data-close onclick="$.form.reload();">
        返 回
    </button>
</div>
{/block}